body {
    background-color: gray;
}

.outcome-success-icon {
    background-image: url(https://orteil.dashnet.org/cookieclicker/img/goldCookie.png);
    width: 96px;
    height: 96px;
}

.outcome-backfire-icon {
    background-image: url(https://orteil.dashnet.org/cookieclicker/img/wrathCookie.png);
    width: 96px;
    height: 96px;
}

.easter-season-icon, .valentines-season-icon {
    background-image: url(https://orteil.dashnet.org/cookieclicker/img/icons.png);
    width: 96px;
    height: 96px;
    /* Ugly, but works */
    clip-path: polygon(0% 0%, 50% 0%, 50% 50%, 0% 50%);
    transform: scale(2) translate(25%, 25%);
}
.easter-season-icon {
    background-position: 0px -576px;
}
.valentines-season-icon {
    background-position: -960px -144px;
}

.gc-effect {
    cursor: default;
}

.gc-effect.selected {
    font-weight: bold;
}

.gc-effect.inactive {
    display: none;
}

.gc-effect:hover {
    color: white;
}

.easter-bunny-icon {
    background-image: url(https://orteil.dashnet.org/cookieclicker/img/bunnies.png);
    /* Same as above but with two rows */
    background-size: auto 200%;
    width: 48px;
    height: 48px;
    background-position: calc(-1*var(--index)*48px) calc(-1*var(--wrath, 0)*48px);
}

.valentines-heart-icon {
    background-image: url(https://orteil.dashnet.org/cookieclicker/img/hearts.png);
    /* Another kludge; this sizes here works because hearts.png has a single row of sprites */
    background-size: auto 100%;
    width: 48px;
    height: 48px;
    background-position: calc(-1*var(--index)*48px) 0px;
}

.easter-bunny-icon.inactive, .valentines-heart-icon.inactive {
    display: none;
}

/* Make all icons have opacity 0.25, hovered icons 0.8, and selected icons 1.0. */
.outcome-success-icon,
.outcome-backfire-icon,
.easter-season-icon,
.valentines-season-icon,
.easter-bunny-icon,
.valentines-heart-icon {
    opacity: 0.25;
}

.outcome-success-icon:hover,
.outcome-backfire-icon:hover,
.easter-season-icon:hover,
.valentines-season-icon:hover,
.easter-bunny-icon:hover,
.valentines-heart-icon:hover {
    opacity: 0.8;
}

.outcome-success-icon.selected,
.outcome-backfire-icon.selected,
.easter-season-icon.selected,
.valentines-season-icon.selected,
.easter-bunny-icon.selected,
.valentines-heart-icon.selected {
    opacity: 1;
}

/* Align panels in each outcome frame using a grid */
.outcome-frame {
    display: grid;
    grid-template-columns: 100px 20ex 400px;
    align-items: center;
}

.spells-cast-header {
    grid-row: 1;
    grid-column: 1 / 4;
}

.outcome-success-backfire-selector {
    grid-row: 2;
    grid-column: 1;
}

.gc-effect-list {
    grid-row: 2;
    grid-column: 2;
}

.season-choices {
    grid-row: 2;
    grid-column: 3;
}

/* Align seasonal icons */
.seasons {
    display: flex;
}
.seasonal-cookies {
    display: flex;
}

/* Settings about the new-outcome-button */
#new-outcome-button {
    border: dashed red;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    padding-bottom: 15px;
}

#new-outcome-button:hover {
    color: red;
}

.big-plus-icon {
    font-size: 100px;
}
